<div class='medium-4 small-12 columns topics'>
  <li class='topic'>
    <%= simple_form_for @subscription do |f| %>
      <%= f.hidden_field :topic_id, :value => topic.id %>
      <h4><%= link_to topic.title, topic_path(topic) %></h4>
      <%= image_tag(Topic.default_image_path(topic)) if topic.image? %>
      <%= f.submit "Subscribe", class: "button tiny" %>
    <% end %>
  </li>
</div>
