<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="/"><%= image_tag "white_logo.jpg", :class => 'navbar-logo'%></a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li class="name"><%= link_to "All Topics", topics_path %></li>
        <li class="name"><%= link_to "My Account", account_path(current_user) %></li>
        <li class="name"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="name"><%= link_to "All Topics", topics_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="name"><%= link_to "Sign In", user_omniauth_authorize_path(:google_oauth2) %><br></li>
      <% end %>
    </ul>
  </section>
</nav>
