<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'RelevantCoverage', root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li ><%= link_to "Coverage", "/" %></li>
      <li ><%= link_to "Pricing", "/"  %></li>
      <li class="active"><%= link_to "FAQ", "/"  %></li>
      <li><%= link_to "Sign Up", "/"  %></li>
      <li><%= link_to "Sign In", "/"  %></li>
    </ul>
  </section>
</nav>
