<div class='topic-settings'>
  <h1>My <%= "(#{@subscriptions.size})" %><%= ' topic'.pluralize(@topics.size) %></h1>

  <h4><%= link_to "Add New Topic",topics_path %></h4>
</div>

<div class='row'>
  <% @subscriptions.each do |subscription| %>
    <div class='medium-4 small-12 columns my_subscriptions'>
      <% if subscription.respond_to?(:topic) && !subscription.topic.blank? %>
        <li class='my_subscription'>
          <h4><%= link_to subscription.topic.title, topic_path(subscription.topic.id) %></h4>
            <%= image_tag(Topic.default_image_path(subscription.topic)) if subscription.topic.image? %>

          <p><%= pluralize(subscription.topic.sources.count, "source") %></p>
        </li>
      <% end %>
    </div>
  <% end %>
</div>


<br>
<div class='account-settings'>
  <h4>Update Account</h4>
  <p><%= link_to "Change Password", edit_user_registration_path %></p>

  <p><%= link_to "Change Email", edit_user_registration_path %></p>

  <h5>Suggestions? <a href="https://github.com/jmoon90/relevant_coverage_suggestions/issues">Leave them here!</a></h5>
</div>
